li, a, button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.image-main{
    height:500px;
    width:100%;
    object-fit:cover;
}

.parallax-header{
    background: #000;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url(aboutusimg.png);
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}

.header-content-parallax{
    padding-top:200px;
    padding-bottom:200px;
}

.title{
    font-size:50px;
    color:white;
    font-weight:lighter;
    cursor:default;
}

.title:hover{
    transition: 0.1s ease-in-out 0.2s;
    transform:scale(1.05);
}

.header1{
    font-size:50px;
    color:aquamarine;
    cursor:default;
}

.paragraph_text{
    text-align:justify;
    text-indent: 1in;
    font-size:25px;
    width:100%;
}

.portrait{
    height:250px;
    width:250px;
}

span{
    font-size:25px;
    background-color:rgba(0, 0, 0, 0.3);
    display:none;
    transition:0.3s ease-in-out 0s;
}

.cards{
    transition:0.3s ease-in-out 0s;
    margin-top:60px;
}

.cards:hover{
    transform:scale(1.05);
    box-shadow: 0 0 2px rgb(0, 217, 255),
    0 0 10px rgb(0, 217, 255),
    0 0 50px rgb(0, 217, 255),
    0 0 60px rgb(0, 217, 255);
    border:3px solid rgb(0, 217, 255);
    
}

.cards:hover span{
    display:block;
}

@media screen and (min-width: 768px){
    .title{
        font-size:55px;
    }
    .line{
        width:450px; 
    }
    .main-pic{
        height:575px;
    }
    .grad{
        height:575px;
    }
    
}

@media screen and (min-width: 992px){
    .title{
        font-size:60px;
    }
    .line{
        width:700px; 
    }
    .main-pic{
        height:725px;
    }
    .grad{
        height:725px;
    }
}

@media screen and (min-width: 1200px){
    .title{
        font-size:90px;
    }
    .line{
        width:1000px;
    }
    .paragraph_text{
        width:80%;
    }
}